/README.md                                      @xwu2intel @hteeyeoh @ajagadi1 @vkb1  @open-edge-platform/open-edge-platform-docs-write
/hmi-augmented-worker/                          @hteeyeoh @madhuri-rai07 @bharagha @xwu2intel
/hmi-augmented-worker/docs/                     @hteeyeoh @madhuri-rai07 @bharagha @xwu2intel  @open-edge-platform/open-edge-platform-docs-write
/hmi-augmented-worker/README.md                 @hteeyeoh @madhuri-rai07 @bharagha @xwu2intel  @open-edge-platform/open-edge-platform-docs-write
/industrial-edge-insights-multimodal/            @vkb1 @sathyendranv @pooja-intel @xwu2intel @SudarshanaPanda @rashmihe @tanvidhola-ux
/industrial-edge-insights-multimodal/docs/       @vkb1 @sathyendranv @pooja-intel @xwu2intel @SudarshanaPanda @rashmihe @tanvidhola-ux @open-edge-platform/open-edge-platform-docs-write
/industrial-edge-insights-multimodal/README.md   @vkb1 @sathyendranv @pooja-intel @xwu2intel @SudarshanaPanda @rashmihe @tanvidhola-ux @open-edge-platform/open-edge-platform-docs-write
/industrial-edge-insights-time-series/           @vkb1 @sathyendranv @pooja-intel @xwu2intel @SudarshanaPanda @rashmihe @tanvidhola-ux
/industrial-edge-insights-time-series/docs/      @vkb1 @sathyendranv @pooja-intel @xwu2intel @SudarshanaPanda @rashmihe @tanvidhola-ux @open-edge-platform/open-edge-platform-docs-write
/industrial-edge-insights-time-series/README.md  @vkb1 @sathyendranv @pooja-intel @xwu2intel @SudarshanaPanda @rashmihe @tanvidhola-ux @open-edge-platform/open-edge-platform-docs-write
/industrial-edge-insights-vision/                @ajagadi1 @sugnanprabhu @rrajore @sajeevrajput @xwu2intel
/industrial-edge-insights-vision/docs/           @ajagadi1 @sugnanprabhu @rrajore @sajeevrajput @xwu2intel  @open-edge-platform/open-edge-platform-docs-write
/industrial-edge-insights-vision/README.md       @ajagadi1 @sugnanprabhu @rrajore @sajeevrajput @xwu2intel  @open-edge-platform/open-edge-platform-docs-write
/industrial-edge-insights-vision/**/README.md    @ajagadi1 @sugnanprabhu @rrajore @sajeevrajput @xwu2intel  @open-edge-platform/open-edge-platform-docs-write
LICENSE            @xwu2intel
CONTRIBUTING.md    @xwu2intel @open-edge-platform/open-edge-platform-docs-write
CODE_OF_CONDUCT.md @xwu2intel
SECURITY.md        @xwu2intel
README.md          @xwu2intel @open-edge-platform/open-edge-platform-docs-write
